:root {
    background-color: #f8f8ff;
    font-size: 62,5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    color: #333;
}

 .flex-column {
     display: flex;
     flex-direction: column;
 }

 .flex-center {
     justify-content: center;
     align-items: center;
 }

 .justify-center {
     justify-content: center;
 }

 .text-center {
     text-align: center;
 }

 .hidden {
     display: none;
 }

 .btn {
     font-size: 1,8rem;
     padding: 1rem 0;
     width: 20rem;
     text-align: center;
     border: 0.1rem solid #3B0D11;
     margin-bottom: 1rem;
     text-decoration: none;
     color: #79144E;
     background-color: white;
 }

 .btn:hover {
     cursor: pointer;
     box-shadow: 0 0.4rem 1.4rem 0 #FFA69E;
     transform: translateY(-0.1rem);
     transition: transform 150ms;
 }

 .btn[disabled]:hover {
     cursor: not-allowed;
     box-shadow: none;
     transform: none;
 }

 /*game*/

 .choice-container {    
    width: 66%;
    font-size: 2.8rem;
    border: 0.1rem solid #79144E;
    background-color: white;
    border-radius: 2rem;
}

.choice-text {
    padding: .8rem;
    width: 100%;
    margin: 0px;
    color: black;
}

.correct {
    background-color: #28a745 ;
}

.incorrect {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    height: 2rem;
    border: 0.3rem solid #79144E;
    margin-top: 1rem;
}

#progressBarFull {
    height: 1.4rem;
    background-color: #79144E;
    width: 0%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: .8rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #FFA69E;
}

input::placeholder {
    color: #aaa;
}

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #79144E;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .alert {
      font-size: 5rem;
  }



@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 640px;
    }
    .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 #FFA69E;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 640px;
    }
  }