@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto Slab', Verdana, Arial, serif;
    font-size: 62,5%;   
    background-color: #f8f8ff; 
}

/*#### Buttons  Website #####*/

#btn1 {
    width:50%;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto; 
    display: block; 
    padding: 12px; 
    background-color:#871f78;
    color: white;
    font-weight: bold;
    outline: 0;

}

#p1 {
    overflow: hidden;
    height: 0px;
    -moz-transition:all 1s linear;
    -webkit-transition:all 1s linear;
    -o-transition:all 1s linear;
    transition:all 1s linear;
}

/*#### Text Styles & Fonts #####*/

a:hover {
    text-decoration: none;
}
.detrator{
    color: red;
}

.neutro {
    color: cornflowerblue;
}

.promoter {
    color: green;
}
.nps {
    width: 80%;
    text-align: center;
}
h1 {
    color: #79144E;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .2);
}

h2 {
    color:#F5CB5C;
    font-weight: bold;
    font-size: 2.0rem;

    
}

h3 {
    color:#348AA7;
    font-size: 1.5rem;

}

h4 {
    color:#79144E;
}

h5 {
    font-size: 80%;
    text-align: right;
    color: #93E1D8;
}

p {
    font-size: 1rem;
}

/* #### Navbar #####*/

.navbar {
    background-color: #79144E;
    padding: 0.2rem;
}

.nav-font {
    color: #f8f8ff;
}

/* ##### Iframe Style #####*/

iframe {
    border-radius: .3rem;
    display: none;
    height: 954px;
    border: none;
 
}

/* ##### Cards Style #####*/

#cards {
    background-color: #DCEDFF;  
    padding: 1rem;
    border-radius: .3rem; 
}

#cards-index {
    background-color: #DCEDFF;  
    padding: 1rem;
    border-radius: .3rem; 
}
.card {
    box-shadow: .3rem .3rem rgba(0, 0, 0, .2);
}
/* ##### Quiz Style #####*/

#quiz {
    background-color: #DCEDFF;    
    padding: 2rem;
    border-radius: .3rem;    
}

/* ##### Artigos Style #####*/

.artigos {
    background-color: #DCEDFF;    
    padding: 2rem;
    border-radius: .3rem;  
}

.capa {
    width: 25%;
}

/* ##### Carousel Style #####*/

#carousel {
    background-color: #DCEDFF;    
    padding: 2rem;
    border-radius: .3rem;

}

/*#### Carousel Controls ####*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;  
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

/*### GAME ###*/

.container-game {
    max-width: 600px;
    background-color: #f8f8ff;
}

.header-game {
    background-color: #79144E;
    color: #f8f8ff;
}

.btn-game {
    font-size: 1,8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #3B0D11;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #79144E;
    background-color: white;
}

.btn-game:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #FFA69E;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn-game[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.choice-container {    
    width: 66%;
    font-size: 2.8rem;
    border: 0.1rem solid #79144E;
    background-color: white;
    border-radius: 2rem;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-text {
    padding: .8rem;
    width: 100%;
    margin: 0px;
    color: black;
}

.correct {
    background-color: #28a745 ;
}

.incorrect {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    height: 2rem;
    border: 0.3rem solid #79144E;
    margin-top: 1rem;
}

#progressBarFull {
    height: 1.4rem;
    background-color: #79144E;
    width: 0%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: .8rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #FFA69E;
}

input::placeholder {
    color: #aaa;
}

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #79144E;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* ##### footer Style #####*/

footer {
    clear: both;
    background-color: #348AA7;  
    padding: 1rem;
    margin-left: -10;}

/*Media query */

@media (min-width: 600px){

    iframe {
        display: block;
    }

    #carousel {
        width: 66%;
    }

    #quiz {
        width: 66%;
    }

    .artigos {
        width: 65%;
    }

    #cards-index {
        display: none;
    }

    @media (min-width: 768px) {
    
    .choice-container:hover {
        box-shadow: 0 0.4rem 1.4rem 0 #FFA69E;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
    }

}